@media(max-width: 600px) {
.main {
    flex-direction: column;
}
    .imgPersonMain{
        display: none;
    }
    .imgLogo {
        width: 7vw;
      height: 6vh;
  }

  .imgLogoSign {
    width: 6vw;
    height: 4vh;
}
.titleimgdispositivo {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.LionSchool, .Sign {
    font-size: 3vw;
    line-height: 4vw;
}

.titleChooseCourse {
    font-size: 7vw;
    width: 100%;
   
/* width: 50vw; */
}
.imgDispositivos {
    display: none;
    
}
.classRoom {
      margin-top: 4vh; 
}
.room {
    height: 20vh;
    width: 70vw;

}
.imgAula {
    width: 10vw;
    height: 7vh;
}
.nameClassRoom {
    font-size: 4.9vw;
}
/* ooterf */
.imgcontact {
    height: 1.5vh;
    width: 2.5vw;
}

.textContacts {
    font-size: 2.5vw;
}
li .social {
    display: flex;
    flex-direction: column;
}

/* main2 */
.nameClassRoomescolhida {

    font-size: 6vw;
     line-height: 3.6vh; 
    height: max-content;
     display: flex;
     justify-content: center;
}

.textStatus {
    font-size: 3vw;
}

.colorSquareDivFinished {
    width: 3.5vw;
    height: 2.5vh;
}

.containerAluno {
    width: 210px;
    height: 500px;
    gap: 10px;
 
}
.textSquare, .textFinished, .legend {
   
    font-size: 11px;
}
.nameAluno{
    font-size: 4vw;
    width: 100%;
    line-height: 6vw;
    max-height: 13vh;
}
.aluno,
.graphic-container{
    padding: 0;
    margin: 0;
    width: 50vw;
    height: 40vh;

}
.aluno__name {
    font-size: 3vw;
}
#student {
    height: 100%;
}


}