@media(max-width: 1000px) {
/* .containerAluno {
    background-color: aliceblue;
} */


 /* .alunoselecionado, .graphic {
    width: 400vw;
    height: 50vh;

} */
/*.main3 {
    gap: 4vw;
} */
/* .room {
    flex-direction: column;
} */

.containerAluno {
    background-color: aqua;
    /* width: 25vw; */
    max-height: 35vh;
}
.nameAluno {
    font-size: 2.3vw;
}
.aluno-container {
    flex-direction: column;
    /* background-color: aquamarine; */
    gap: 40px;
    margin-bottom: 50px;
    margin-top: 50px;   

}

.aluno,
.graphic-container{
    padding: 0;
    margin: 0;
    width: 35vw;
    height: 50vh;

}
.graphic-container {
    background-color: aqua;
    flex-direction: row;
    

}
}