
*{
	margin:0;
	padding:0;
	 box-sizing: border-box;
	}
/* 
	.main2{
		display: none;
	} */

header{
	display:flex;
	flex-direction:column;
	display: flex;
	

	
}

.header{
	background-color:#3347B0;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height: 10vh;
	
}

.headerSecondary{
	background-color:#BCC2E5;
	 display:none; 
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
	height: 5vh;

}

.textStatus{
/* width: 47px;
height: 19px; */
font-style: normal;
font-weight: 500;
font-size: 1vw;
/* line-height: 19px; */
color: #3347B0;
margin-left:9vw;
width: max-content;
cursor: pointer;

}

.optionRommSquareFinished{
	display:flex;
	flex-direction:row;
	margin-right:9vw;
	/* background-color: teal; */
	/* width: max-content; */
	align-items: center;

}

.nameClassRoomescolhida {	
	padding: 3vh;
}

.legend{
	/* width: 70px; */
/* height: 19px; */
font-style: normal;
/* font-weight: 500; */
font-size: 0.9vw;
color: #3347B0;
margin-right:3vw;
/* background-color: #019cfe; */

}

#div-opcoes ul li:hover {
	/* font-size: 40px; */
	background-color:white;
	width: 100%;
	margin: 0;
	padding: 0;
	color:#3347B0;
	transition:  1s ease;
}

/* .textsSquares{
	display:flex;
	gap:0.9vw;
	padding: 1vw;
} */

.colorSquareDivFinished{
	width: 1vw;
height: 2.1vh;



}


.textSquare, .textFinished{
/* width: 5vw;
height: 19px; */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 1vw;
color: #3347B0;
}
.textsSquares {
	display: flex;
	flex-direction: row;
	gap: 0.6vw;
}

.finished{
	
background: #3347B0;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.square{

background: #E5B657;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);

}

.containerLogotext,.containerImgSigntext{

	width:max-content;
	display:flex;
	flex-direction:row;
	align-items:center;
	color:#fff;
	gap:1vw;
	
}
.containerLogotext{
	margin-left:10vw;
}

.containerImgSigntext{
	margin-right:10vw;
}


.imgLogo{
width: 3vw;
height:8.5vh;
}

.LionSchool{

font-size: 1.5vw;
font-weight: 700;
line-height: 1.5vw;

}

.imgLogoSign{
width: 3vw;
height: 4vh;

}

.Sign {
	font-size: 1.5vw;
font-weight: 500;
/* line-height: 42px; */
cursor: pointer;
}

main{
	background-color:white;
}

.main{
	
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	align-items:center;
	height: 70vh;
	/* padding:20vw; */
	/* margin-top: 2vh;
	margin-bottom: 2vh; */
	margin-left: 3vw;
	margin-right: 3vw;
	min-height: 70vh;

}

.imgPersonMain{
		width: 20vw;
}

.classRoom{
	display:flex;
	flex-direction:column;
	gap:3vh;
}

.titleChooseCourse{
width: 30vw;
/* height: 30vh; */
font-style: normal;
font-weight: 300;
font-size: 4vw;
line-height: 6vw;
color: #353535;
}


.imgDispositivos {
	width: 30vw;
height: 40vh;

}




.room{	
box-sizing: border-box;
width: 25vw;
height: 25vh;
background: #3347B0;
border: 1px solid #000000;
box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
display:flex;
align-items:center;
gap:3vw;
justify-content:center;
padding: 5vw;
cursor: pointer;
}

.nameClassRoom{
font-size: 2.5vw;
font-weight: 500;

color:#fff;
}
.imgAula {
	height: 10vh;
	width: 6vw;
}

footer{
	background-color:#3347B0;

	justify-content: flex-end;
}



.footer{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-evenly;
	height: 20vh;
}

.contacts{
	display:flex;
	flex-direction:column;
	/* line-height:30px; */
	display:flex;
	gap:2vh;
}



.textContacts{
font-size: 1vw;
font-weight: 400;
/* line-height: 30px; */
letter-spacing: 0em;
color:#FFFFFF;

}

.social{
	display:flex;
	flex-direction:row;
	gap:2vw;
}

.fab ,.fab, .fa-brands{
	height: 1vw;
}

.social-icon {
    height: 3.23vw;
    width:  3.23vw;
    /* para a borda */
    border: 2px solid #ffffff;
    /* para deixar um circulo */
    border-radius: 50%;

   
    display: grid;
    /* dizendo aoso filhos */

    place-items: center;
     /* afeta o link e todos os filhos */
    color: #ffffff;
    font-size: 1.5rem;
 /* deixando a mudança de co lenta, retardando, levesa na troca de cor  */
    transition: all .5s;
}
 /*  quando o mouse passa por cima ficará roxo */
.social-icon:hover {
   
    background: #019cfe;
    border: 2px solid#019cfe;

}
.imgcontact {
	height: 2.6vh;
	width: 1.5vw;
}

/* .none {
	display: none;
}


.visivel {
	display: flex;
	flex-direction: column;
 width: 150px;
height: 100px; 
gap: 1vh;
width: 5vw;
background: #3347B0;
} */


#div-opcoes {

background: #3347B0;
	border: 1px solid #ccc;
	padding: 10px;

  }
  
  #div-opcoes ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  #div-opcoes li {
	margin-bottom: 5px;
	cursor: pointer;
	color: white;
	
  }

  

.textoption {
width: 47px;
height: 19px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
color: #FFFFFF;
}

.main2{
display: none;
/* background-color: #019cfe; */

	/* align-items:center;
flex-direction:column; */

height: 65vh;
}


.alunos {
	display: flex;
	margin-top: 7vh;
	 flex-direction: row; 
	/* flex-direction: column; */
	gap: 5vw;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.containerAluno{
	/* background-color:pink; */
display:flex;
flex-direction:column;
 width: 15vw;	 

/* height: 40vh; */
background: #3347B0;
box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
align-items: center;
flex: 1 0 25%;
    height: 450px;
  /* max-height: 450px;   */
  cursor: pointer;
}

.containerAluno:nth-child(4n) {
	margin-right: 0;
  }

  

.imgAluno{
	border-radius:50%;
	/* background-color: red; */
	width: 100%;
}

.nameAluno{
/* width: max-content; */
/* height: 54px; */
/* font-style: normal; */
font-weight: 500;
font-size: 2vw;
text-align: center;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
/* background-color: red; */
/* height: ; */
/* width: 15vw;
height: 15vh; */
/* background-color: pink; */
display: flex;
align-items: center;
justify-content: center;

/* background-color: pink; */

}

/* .nameClassRoom{ */
/* width: 857px;
height: 75px; */
/* font-style: normal;
font-weight: 500;
font-size: 5vw;
line-height: 75px;

display: flex;
justify-content: center;
color: white;

} */
.nameClassRoomescolhida {

font-style: normal;
font-weight: 500;
/* background-color: red; */
/* height: 10vh; */
font-size: 4.5vw;
line-height: 75px;
/* background-color: tomato; */
display: flex;
justify-content: center;
color:  #3347B0;
align-items: center;



}

/* ----------------------------------------------------------------------------------- */

/* .main3 { */
	/* display: none; */
	/* display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; */
    /* background-color: red; */
    /* height: 70vh;
 
}

.alunoselecionado {
    margin-left: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.alunoselecionado,
.graphic {
    width: 20vw;
    height:60vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
}
.graphic {
	justify-content: space-between;
	display: flex;

}

.imgalunoescolhido { */
    /* width: 400px;
    height: 400px; */
    /* background-color: #3347B0;
    display: flex;
    width: 80%;
    height: 30vh;

}

.graphic {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    /* gap: 30px; */
    /* margin-right: 15vw;
}

.namealunoselecionado { */
    /* width: 400px; */
    /* width: max-content; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* font-size: 1vw; */
    /* line-height: 27px; */
    /* text-align: center;
    text-transform: uppercase;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barraNotas {
    width: 0.9vw;
    height: 30vh;
    background: #EEEFF8; */
     /* display: flex; */
  /* justify-content: flex-end;
  align-items: flex-end ; */
  /* display: flex;
  align-items: flex-end;
  box-shadow: 0px 0px 24px #3347B0;
  border-radius: 4px 4px 0px 0px;
}

.notaColor {
    height:80% ;
    background-color: #3347B0;
    display: flex;
    width: 100%;
    
}
.nomeNota{

	font-size: 1vw;

font-style: normal;
font-weight: 700; */
/* font-size: 18px; */
/* line-height: 27px; */
/* identical to box height */
/* 
text-align: center;
text-transform: uppercase;

color: #3347B0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.numeroNota { */
   
/* width: 37px;
height: 27px; */
/* 
font-weight: 700;
font-size: 1.5vw; */
/* line-height: 27px; */
/* text-transform: uppercase;
color: #3347B0;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

/* font-family: 'Poppins';
font-style: normal;
font-weight: 700; */
/* font-size: 18px; */
/* line-height: 27px; */
/* identical to box height */

/* 
color: #3347B0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aulaSeparada {
    display: flex;
    flex-direction: column;
	gap: 1vw; */
	/* background-color: red; */
	/* align-items: center;
} */

.aluno-container {
	/* display: none; */
	display: none;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    height: 70vh;
    min-height: 70vh;
 
}

.containerAluno {
    height: 600px;
    width: 310px;
}

.aluno {
    margin-left: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.aluno,
.graphic-container {
    width: 20vw;
    height:60vh;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5vw;
}
.graphic-container {
	justify-content: space-between;
	display: flex;

}

.aluno__image {
    /* width: 400px;
    height: 400px; */
    background-color: #3347B0;
    display: flex;
    width: 80%;
    height: 30vh;

}

.graphic-container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 30px; */
    margin-right: 15vw;
}

.aluno__name {
    /* width: 400px; */
    /* width: max-content; */
    /* font-style: normal; */
    /* font-weight: 500; */
    font-size: 1vw;
    /* line-height: 27px; */
    text-align: center;
    text-transform: uppercase;
    color: #3347B0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grader-bar {
    width: 0.9vw;
    height: 30vh;
    background: #EEEFF8;
     /* display: flex; */
  /* justify-content: flex-end;
  align-items: flex-end ; */
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 0px 24px #3347B0;
  border-radius: 4px 4px 0px 0px;
}

.bar__grade {
    height:80% ;
    background-color: #3347B0;
    display: flex;
    width: 100%;
    
}
.nomeNota{

	font-size: 1vw;

font-style: normal;
font-weight: 700;
/* font-size: 18px; */
line-height: 27px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

color: #3347B0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.graphic__grade {
   
/* width: 37px;
height: 27px; */

font-weight: 700;
font-size: 1.5vw;
/* line-height: 27px; */
text-transform: uppercase;
color: #3347B0;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

/* font-family: 'Poppins';
font-style: normal;
font-weight: 700; */
/* font-size: 18px; */
line-height: 27px;
/* identical to box height */


color: #3347B0;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.graphic__subject {
    display: flex;
    flex-direction: column;
	gap: 1vw;
	/* background-color: red; */
	align-items: center;
}

